---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---
User-agent: *
{% if site.preview %}Disallow: /
{% else %}Disallow: /admin/
Disallow: /donate/thank-you/
Sitemap: {{ site.url }}/sitemap.xml
{% endif %}
